@font-face {font-family : 'montel;';
    src : url(https://www.1001fonts.com/montel-font.html);
}

#restart {
    border: none;
    outline: none;
    box-shadow: 0 1px 3px 4px rgba(245, 212, 212, 0.747);
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(243, 207, 91, 0.87);
    color:rgb(253, 251, 242);
    padding: 15px 20px;
    font-size: 20px;
    font-family: montel;
}
#board {
    padding-top: 3em;
    text-align: center;
    font-size: 24px;
    font-family: montel;
    color: rgb(134, 177, 184);
    cursor: pointer;
}
.row > div {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
    font-size: larger;
}
.top {
    border-bottom: 1px solid goldenrod;
}
.bottom {
    border-top: 1px solid goldenrod;
}
.left {
    border-right: 1px solid goldenrod;
}
.right {
    border-left: 1px solid goldenrod;
}
.row > div:hover {
    cursor: pointer;
    color: rgb(218, 144, 109);
}

